<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.iau.abjad.AbjadApp">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lesson"></activity>
        <activity android:name=".LessonsTests" />
        <activity android:name=".educator_home" />
        <activity android:name=".TrueFalseTest" />
        <activity android:name=".MatchingTest" />
        <activity android:name=".ChildProgress">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".HeardWordTest" />
        <activity android:name=".ReadingTest" />
        <activity android:name=".child_home">
        </activity>

        <activity android:name=".report_problem">

        </activity>
        <activity android:name=".unit_interface">


        </activity>
        <activity android:name=".menu_educator"></activity>
        <activity android:name=".child_menu"></activity>

        <activity android:name=".Signin" />
        <activity android:name=".SignUp" />
        <activity android:name=".userTypeSelection" />
        <activity android:name=".ResetPassword"/>
    </application>

</manifest>