<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.iau.abjad.AbjadApp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/abjad_logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme">
        <activity android:name=".first_child_adding_popup"></activity>
        <activity
            android:name=".Lesson"
            android:screenOrientation="landscape" />
        <activity
            android:name=".educator_home"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TrueFalseTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MatchingTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChildProgress"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HeardWordTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ReadingTest"
            android:screenOrientation="landscape" />
        <activity
            android:name=".child_home"
            android:screenOrientation="landscape" />
        <activity
            android:name=".unit_interface"
            android:screenOrientation="landscape" />
        <activity
            android:name=".child_menu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".ResetPassword"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".child_profile"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".menu_educator"
            android:screenOrientation="landscape" />
        <activity
            android:name=".change_profile_photo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".splash_screen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".educator_profile"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".change_password"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".popUp_repert_problem"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity android:name=".child_crad_model" />
        <activity android:name=".adding_child_pop_up" />
        <activity
            android:name=".signin_new"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity android:name=".new_add_child"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>
        <activity android:name=".child_after_signin"
            android:screenOrientation="landscape"/>
        <activity android:name=".new_child_photo"
            android:screenOrientation="landscape"/>
        <activity android:name=".select_user_type"
            android:screenOrientation="landscape"/>
        <activity android:name=".contact_us"
            android:screenOrientation="landscape"/>
        <activity android:name=".edu_auth_popup" />
        <activity android:name=".um"
            android:screenOrientation="landscape"/>
    </application>

</manifest>